#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 90%;
  min-width: 600px;
  max-width: 1280px;
}

table.messages {
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
}

table.messages td {
  white-space: nowrap;
  overflow: none;
  text-overflow: ellipsis;
}

table.messages td,
table.messages th {
  text-align: left;
  border: 1px solid grey;
  padding: 6px;
}

table.messages td:last-child {
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.controls > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
