@import url(blockly.css);
@import url(overlayscrollbars.css);

@import url(flowEditor.css);
@import url(wikiBanner.css);
@import url(babylonjs.css);
@import url(resourseLoadedAnimation.css);

@import "tailwindcss";

@source "../../src";
@source inline("text-brand-color-1st text-brand-color-2nd text-brand-color-3rd bg-brand-color-1st bg-brand-color-2nd bg-brand-color-3rd");

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-primary-color-0: rgb(var(--primary) / 0);
  --color-primary-color-10: rgb(var(--primary) / 0.1);
  --color-primary-color-30: rgb(var(--primary) / 0.3);
  --color-primary-color-90: rgb(var(--primary) / 0.9);
  --color-primary-color: rgb(var(--primary));
  --color-accent-color: rgb(var(--accent) / 1);
  --color-main-text-color: rgb(var(--accent) / 0.7);
  --color-boundary-color: rgb(var(--accent) / 0.55);
  --color-area-color: rgb(var(--transition) / 0.08);
  --color-dividing-color: rgb(var(--transition) / 0.2);
  --color-brand-color-1st: rgb(var(--brand-1st));
  --color-brand-color-2nd: rgb(var(--brand-2nd));
  --color-brand-color-3rd: rgb(var(--brand-3rd));
  --color-brand-color-4th: rgb(var(--brand-4th));
  --color-water: rgb(var(--water));
  --color-fire: rgb(var(--fire));
  --color-earth: rgb(var(--earth));
  --color-wind: rgb(var(--wind));
  --color-light: rgb(var(--light));
  --color-dark: rgb(var(--dark));

  --radius-*: initial;
  --radius: var(--radius);
  --radius-xl: calc(var(--radius) + 8px);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-md: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 8px);
  --radius-none: 0px;
  --radius-full: 9999px;

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", "Noto Color Emoji";

  --background-image-aeskl: url("/app-image/bg.jpg");

  --box-shadow-color: rgb(var(--transition));

  --shadow-card: 0 4px 4px 0, 0 4px 16px 0;
}

/* 颜色署名 */
:root {
  /* 背景色 */
  --white: 255 255 255;
  --grey: 40 40 40;
  /* 对比度控制颜色 */
  --brown: 47 26 73;
  /* 品牌色 */
  --navyBlue: 80 128 210;
  --greenBlue: 149 207 213;
  --yellow: 255 166 60;
  --orange: 253 126 80;
  /* 装饰色 */
  --water: 0 140 229;
  --fire: 233 62 38;
  --earth: 255 151 54;
  --wind: 0 143 84;
  --light: 248 193 56;
  --dark: 141 56 240;

  --radius: 12px;
}

.light {
  --accent: var(--brown);
  --primary: var(--white);
  --transition: var(--navyBlue);
  --brand-1st: var(--greenBlue);
  --brand-2nd: var(--yellow);
  --brand-3rd: var(--orange);
  --brand-4th: var(--navyBlue);
}

.dark {
  --accent: var(--white);
  --primary: var(--grey);
  --transition: var(--white);
  --brand-1st: var(--greenBlue);
  --brand-2nd: var(--yellow);
  --brand-3rd: var(--orange);
  --brand-4th: var(--navyBlue);
}

:root {
  color: rgb(var(--accent));
  background-color: rgb(var(--primary));
}

* {
  transition: all 150ms;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.transitionColorNone * {
  transition: all 0s !important;
  transition-delay: 0s !important;
}

.transitionNone,
.transitionNone * {
  transition: none !important;
  transition-delay: 0s !important;
  animation: none !important;
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}

* {
  outline-width: 2px;
  outline-color: transparent;
  outline-style: solid;
  outline-offset: -2px;
}

*:focus-visible {
  outline-color: rgb(var(--brand-1st));
}

/* 交互检测 */

/* *:hover {
  outline-color: rgb(var(--brand-3rd));
}

*:focus-visible {
  background-color: red !important;
  z-index: 9999;
} */

