#embed-host,
#scene-explorer-host,
#strokeMiterlimit-host,
#inspector-host  {
  /* position: fixed !important; */
  z-index: 999999;
}

#inspector-host * {
  transition: all 0ms !important;
}

#inspector-host input,
#inspector-host select,
#inspector-host textarea {
  color: black;
}

#scene-explorer-host,
#inspector-host {
  position: fixed !important;
  top: 0;
  height: 100%;
}

#scene-explorer-host {
  left: 0;
}

#inspector-host {
  right: 0;
}