@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

.active-connector-path {
  animation: dash 50s linear infinite;
}

#BtEditor,
#BtEditor * {
  transition: all 0s;
}
